<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="strativ" translate="label" sortOrder="2">
			<label>Strativ</label>
		</tab>
		<section id="dynamic_product" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Dynamic Product</label>
			<tab>strativ</tab>
			<resource>Strativ_DynamicProduct::config_strativ_dynamicproduct</resource>
			<group id="dynamic_product" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Dynamic Product</label>
				<field id="create_product" type="button" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<frontend_model>Strativ\DynamicProduct\Block\System\Config\Create</frontend_model>
					<label>Create Product</label>
					<comment/>
				</field>
				<field id="update_product" type="button" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					 <frontend_model>Strativ\DynamicProduct\Block\System\Config\Update</frontend_model>
					<label>Update Product</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
